zsh/.config/zsh/.zsh_sessions/22E18652-C539-4C2C-AC34-E5C17C2C95E9.history
zsh/.config/zsh/.zsh_sessions/22E18652-C539-4C2C-AC34-E5C17C2C95E9.session
zsh/.config/zsh/.zsh_sessions/AE0A61C3-EA17-43D9-8665-E804CBE31DED.historynew
zsh/.config/zsh/.zsh_history
